img{  
    width: 100%;
    height: auto;
}
h1, h2 {
    border-bottom: 1px solid #dee2e6!important;
}
.toc{
    padding-left: 1rem;
}
.toc-child{
    padding-left: 1rem;
}
.toc-text {
    font-size: 12px;
}
body {
    font: normal 1em Roboto, "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif;
    font-size: 14px;
    line-height: 25px;
}